ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
  width 100%;
  
}

li {
  padding: 20px 60px;
  display: inline;
}

lia a:hover {
  back-ground-color: grey;
}
