ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
  width 100%;
  
}

<ul>
  <li><a href="default.asp">Home</a></li>
  <li><a href="news.asp">News</a></li>
  <li><a href="contact.asp">Contact</a></li>
  <li><a href="about.asp">About</a></li>
</ul>

li {
  padding: 20px 60px;
  display: inline;
}

lia a:hover {
  back-ground-color: grey;
}
